.historyselector {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
}

.historyselectorbutton {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  min-height: 1.5em;
  border: 1px solid #CCCCCC;
  font-size: 1em;
  font-weight: bold;
}

.historyselectorbuttonactive {
  color: white;
  background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
}
