.keypad {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}

.keypadrow {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.keypadbutton:hover {
  cursor: pointer;
}
.keypadbutton:active {
  background-color: #DDDDDD;
  background: linear-gradient(#EEEEEE,#FFFFFF);
}
.keypadbutton {
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 33%;
  display: flex;
  justify-content: center;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  font-family: sans-serif;
  font-size: 2em;
  color: #444444;
  background: linear-gradient(#FFFFFF,#EEEEEE);
}


